salesforce/temp_all_flows/flows/Create_Contract_on_Opp_Close.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sync_Opportunity_Products_to_Contract_Line_Items</name>
        <label>Sync Opportunity Products to Contract Line Items</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>ContractLineItemSyncService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LinktoContract</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>newContractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContractLineItemSyncService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>ContractNamingConvention</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} &amp; &quot; - &quot; &amp; TEXT({!$Record.Product_Line__c})</expression>
    </formulas>
    <formulas>
        <name>Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create Contract on Opp Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contract on Opp Close</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContractRecord</name>
        <label>Create Contract Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignRecordIdToReference>newContractId</assignRecordIdToReference>
        <connector>
            <targetReference>Sync_Opportunity_Products_to_Contract_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AI_Enabled__c</field>
            <value>
                <elementReference>$Record__Prior.Eudia_Tech__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annualized_Revenue__c</field>
            <value>
                <elementReference>$Record__Prior.ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Name_Campfire__c</field>
            <value>
                <elementReference>ContractNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Value__c</field>
            <value>
                <elementReference>$Record.TCV_Calculated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Product__c</field>
            <value>
                <stringValue>None specified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pod__c</field>
            <value>
                <elementReference>$Record.Pod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opp_s__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordUpdates>
        <name>LinktoContract</name>
        <label>Link to Contract</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>newContractId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateContractRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 6. Closed(Won)</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AdoptionTarget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>75.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_EfficiencyTarget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>25.0</numberValue>
        </value>
    </variables>
</Flow>
