salesforce/temp_all_flows/flows/Quick_Create_Opp_v0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Stage_0_Qualifying</name>
        <choiceText>Stage 0 - Qualifying</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 0 - Qualifying</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_1_Discovery</name>
        <choiceText>Stage 1 - Discovery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 1 - Discovery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_2_SQO</name>
        <choiceText>Stage 2 - SQO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 2 - SQO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_3_Pilot</name>
        <choiceText>Stage 3 - Pilot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 3 - Pilot</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_4_Proposal</name>
        <choiceText>Stage 4 - Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 4 - Proposal</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>AccountChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccountSearchInput</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductLineChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Line__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedCloseDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  ISBLANK({!Target_Sign_Date}),
  {!$Flow.CurrentDate} + 180,
  {!Target_Sign_Date}
)</expression>
    </formulas>
    <formulas>
        <name>DefaultCloseandTargetSign</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Target_Sign_Date}), TODAY() + 150, {!Target_Sign_Date})</expression>
    </formulas>
    <formulas>
        <name>GeneratedOppName</name>
        <dataType>String</dataType>
        <expression>{!SelectedAccountName} &amp; &quot; - &quot; &amp; 
IF(
  ISBLANK({!Product_Line}) || {!Product_Line} = &quot;Undetermined&quot;,
  {!OpportunityStage},
  {!Product_Line}
)</expression>
    </formulas>
    <interviewLabel>Quick Create Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Create Opp v0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_creating_opportunity_Flow_FaultMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>ACVAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>ACVAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>DefaultCloseandTargetSign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GeneratedOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source__c</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability_for_edit__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Product_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Hp000001HYyxIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>OpportunityStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_LOI_Date__c</field>
            <value>
                <elementReference>DefaultCloseandTargetSign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Sign_for_Edit_NEW__c</field>
            <value>
                <elementReference>DefaultCloseandTargetSign</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>SelectAccountHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Select Account &amp;amp; Enter Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Showing accounts matching: &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;{!AccountSearchInput}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountDropdown</name>
            <choiceReferences>AccountChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpportunityStage</name>
            <choiceReferences>Stage_0_Qualifying</choiceReferences>
            <choiceReferences>Stage_1_Discovery</choiceReferences>
            <choiceReferences>Stage_2_SQO</choiceReferences>
            <choiceReferences>Stage_3_Pilot</choiceReferences>
            <choiceReferences>Stage_4_Proposal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Target_Sign_Date</name>
            <dataType>Date</dataType>
            <fieldText>Target Sign Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ACVAmount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>100000.0</numberValue>
            </defaultValue>
            <fieldText>ACV</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Product_Line</name>
            <choiceReferences>ProductLineChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Line</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_creating_opportunity_Flow_FaultMessage</name>
        <label>Error creating opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(194, 57, 52);&quot;&gt;Error creating opportunity: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Account</name>
        <label>Search Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>SearchHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;New Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Enter part of the account name to search, then click Next.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountSearchInput</name>
            <dataType>String</dataType>
            <fieldText>Search Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter at least 2-3 characters of the account name</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search &amp; Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>searchText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
