salesforce/temp_all_flows/flows/Slack_SF_Auto_Create_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_AccountId</name>
        <label>Set_AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Opportunity_ID</name>
        <label>Store Opportunity ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_OppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>ProbabilityDefault</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.1</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Exists</name>
        <label>Account_Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create_New</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AccountId</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AmountToUse</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!vAmount}), {!DefaultAmount}, {!vAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DefaultCloseDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 4)</expression>
    </formulas>
    <formulas>
        <name>DefaultOppName</name>
        <dataType>String</dataType>
        <expression>{!vAccountName} &amp; &quot; - Discovery&quot;</expression>
    </formulas>
    <interviewLabel>Slack_SF_Auto_Create_Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>slack_sf_auto_create_opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>vAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vAccountName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Store_Opportunity_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>AmountToUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>AmountToUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>DefaultCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DefaultOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source__c</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability_for_edit__c</field>
            <value>
                <elementReference>ProbabilityDefault</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>vStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCV__c</field>
            <value>
                <numberValue>300000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_LOI_Date__c</field>
            <value>
                <elementReference>DefaultCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Sign_for_Edit_NEW__c</field>
            <value>
                <elementReference>DefaultCloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!vAccountName}</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>100000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
