salesforce/temp_all_flows2/flows/Create_Delivery_on_Opp_Close.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>augmentcontract</name>
        <label>augmentcontract</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_AdoptionTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EfficiencyTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Delivery_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Compliance3</name>
        <label>Compliance3</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_AdoptionTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EfficiencyTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Delivery_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contracting_BAU1</name>
        <label>Contracting BAU1</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_AdoptionTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EfficiencyTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Delivery_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DSARassign</name>
        <label>DSAR assign</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_AdoptionTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EfficiencyTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Delivery_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LegalOps</name>
        <label>LegalOps</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_AdoptionTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>45.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EfficiencyTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Delivery_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>M_A</name>
        <label>M&amp;A</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_AdoptionTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EfficiencyTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Delivery_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OC_Assign</name>
        <label>OC Assign</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_AdoptionTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EfficiencyTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Delivery_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>privacy2</name>
        <label>privacy2</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_AdoptionTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EfficiencyTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Delivery_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sigma_Target</name>
        <label>Sigma Target</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_AdoptionTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EfficiencyTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Delivery_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Excl_Commitment</name>
        <label>Excl Commitment</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Targets_by_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_commit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revenue_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commitment</stringValue>
                </rightValue>
            </conditions>
            <label>No commit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Targets_by_Product</name>
        <label>Set Targets by Product</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Delivery_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sigma_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sigma</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sigma_Target</targetReference>
            </connector>
            <label>Sigma Product</label>
        </rules>
        <rules>
            <name>AI_AugmentedContracting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AI-Augmented Contracting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>augmentcontract</targetReference>
            </connector>
            <label>AI-Augmented Contracting</label>
        </rules>
        <rules>
            <name>Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance3</targetReference>
            </connector>
            <label>Compliance</label>
        </rules>
        <rules>
            <name>Contracting_BAU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracting-BAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contracting_BAU1</targetReference>
            </connector>
            <label>Contracting BAU</label>
        </rules>
        <rules>
            <name>Privacy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Privacy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>privacy2</targetReference>
            </connector>
            <label>Privacy</label>
        </rules>
        <rules>
            <name>Augmented_M_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Augmented-M&amp;A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>M_A</targetReference>
            </connector>
            <label>Augmented M&amp;A</label>
        </rules>
        <rules>
            <name>Legal_Ops</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Ops</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LegalOps</targetReference>
            </connector>
            <label>Legal Ops</label>
        </rules>
        <rules>
            <name>Outside_Counsel_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outside Counsel Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OC_Assign</targetReference>
            </connector>
            <label>Outside Counsel Management</label>
        </rules>
        <rules>
            <name>DSAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSARassign</targetReference>
            </connector>
            <label>DSAR</label>
        </rules>
    </decisions>
    <description>Auto-creates Delivery record when Opportunity Stage changes to Closed Won. Excludes: Commitment+ARR/Project, Skip checkbox checked, or Delivery already exists. DEPLOY AS DRAFT - activate after testing.</description>
    <environments>Default</environments>
    <formulas>
        <name>Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create Delivery on Opp Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Delivery on Opp Close</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Delivery_Record</name>
        <label>Create_Delivery_Record</label>
        <locationX>1238</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Link_Delivery_to_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adoption_Target_Percent__c</field>
            <value>
                <elementReference>var_AdoptionTarget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Value__c</field>
            <value>
                <elementReference>$Record.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedDate</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Model__c</field>
            <value>
                <stringValue>Balanced (50/50)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Efficiency_Target_Percent__c</field>
            <value>
                <elementReference>var_EfficiencyTarget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eudia_Delivery_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Month 1 - Setup and Development</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>$Record.Product_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </inputAssignments>
        <object>Delivery__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Link_Delivery_to_Opportunity</name>
        <label>Link_Delivery_to_Opportunity</label>
        <locationX>1238</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Delivery__c</field>
            <value>
                <elementReference>Create_Delivery_Record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Excl_Commitment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Skip_Delivery_Creation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Delivery__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 4 - Proposal</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AdoptionTarget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>75.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_EfficiencyTarget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>25.0</numberValue>
        </value>
    </variables>
</Flow>
