salesforce/temp_all_flows2/flows/Create_Opp_from_Slack.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <choices>
        <name>Stage_0_Qualifying</name>
        <choiceText>Stage 0 - Qualifying</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 0 - Qualifying</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_1_Discovery</name>
        <choiceText>Stage 1 - Discovery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 1 - Discovery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_2_SQO</name>
        <choiceText>Stage 2 - SQO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 2 - SQO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_3_Pilot</name>
        <choiceText>Stage 3 - Pilot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 3 - Pilot</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_4_Proposal</name>
        <choiceText>Stage 4 - Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 4 - Proposal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_5_Negotiation</name>
        <choiceText>Stage 5 - Negotiation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 5 - Negotiation</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>DefaultCloseDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 4)</expression>
    </formulas>
    <formulas>
        <name>DefaultOppName</name>
        <dataType>String</dataType>
        <expression>{!Account_Name} + &quot; - Discovery&quot;</expression>
    </formulas>
    <interviewLabel>Create Opp from Slack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opp from Slack</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Step_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>DefaultAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>DefaultCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DefaultOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Step_1</name>
        <label>Step 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_new_Opportunity</name>
        <label>Create new Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step_1</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>Stage_1_Discovery</choiceReferences>
            <choiceReferences>Stage_2_SQO</choiceReferences>
            <choiceReferences>Stage_3_Pilot</choiceReferences>
            <choiceReferences>Stage_4_Proposal</choiceReferences>
            <choiceReferences>Stage_5_Negotiation</choiceReferences>
            <choiceReferences>Stage_0_Qualifying</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_new_Opportunity</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DefaultAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>100000.0</numberValue>
        </value>
    </variables>
</Flow>
