salesforce/temp_all_flows2/flows/Roll_Up_task_Emal_Subject_Sent_or_Replied_to_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Account_Update_from_Stage_1_outbound_from_Tsk</name>
        <label>Account Update from Stage 1 outbound from Tsk</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_by_ID.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1. Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account_by_ID.Has_Outreach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_ID.Outbound_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_From_Outbound_Stage_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_Updates_from_Stage_0_outbound_from_Task</name>
        <label>Account Updates from Stage 0 outbound from Task</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_by_ID.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1. Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account_by_ID.Has_Outreach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_ID.Outbound_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_From_Outbound_stage_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_Updates_From_Stage_0_reply_from_task</name>
        <label>Account Updates From Stage 0 reply from task</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_by_ID.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Connected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account_by_ID.Has_Replied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_ID.Replied_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_From_Replied_stage_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_Updates_From_Stage_1_reply_from_task</name>
        <label>Account Updates From Stage 1 reply from task</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_by_ID.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Connected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account_by_ID.Has_Replied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_ID.Replied_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_From_Replied_stage_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Has_Replied_True</name>
        <label>Has Replied True</label>
        <locationX>930</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>HasReplied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HasOutbound_True</name>
        <label>Set HasOutbound True</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>HasOutbound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughTasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckEmailSubjectType</name>
        <label>Check Email Subject Type</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>LoopThroughTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Outbound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughTasks.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&gt;&gt;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughTasks.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HasOutbound_True</targetReference>
            </connector>
            <label>Is Outbound</label>
        </rules>
        <rules>
            <name>Is_Replied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughTasks.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&lt;&lt;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughTasks.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Replied_True</targetReference>
            </connector>
            <label>Is Replied</label>
        </rules>
        <rules>
            <name>Skip</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughTasks.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughTasks.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic Reply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughTasks</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Account</name>
        <label>Should Update Account ?</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Replied_from_Stage_0</name>
            <conditionLogic>(1 OR 2) and (3 and 4 and 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&lt;&lt;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status_Override__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0. Untouched Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1. Prospecting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Updates_From_Stage_0_reply_from_task</targetReference>
            </connector>
            <label>Replied from Stage 0</label>
        </rules>
        <rules>
            <name>Replied_from_Stage_1</name>
            <conditionLogic>(1 OR 2) and (3 and 4 and 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&lt;&lt;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status_Override__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0. Untouched Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1. Prospecting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Updates_From_Stage_1_reply_from_task</targetReference>
            </connector>
            <label>Replied from Stage 1</label>
        </rules>
        <rules>
            <name>Outbound_from_Stage_0</name>
            <conditionLogic>(1 OR 2) and (3 and 4 and 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&gt;&gt;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status_Override__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0. Untouched Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1. Prospecting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Updates_from_Stage_0_outbound_from_Task</targetReference>
            </connector>
            <label>Outbound from Stage 0</label>
        </rules>
        <rules>
            <name>Outbound_from_Stage_1</name>
            <conditionLogic>(1 OR 2) and (3 and 4 and 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&gt;&gt;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status_Override__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0. Untouched Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_by_ID.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1. Prospecting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Update_from_Stage_1_outbound_from_Tsk</targetReference>
            </connector>
            <label>Outbound from Stage 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Roll-Up task Emal Subject Sent or Replied to Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll-Up task Emal Subject Sent or Replied to Contact</label>
    <loops>
        <name>LoopThroughTasks</name>
        <label>Loop Through Tasks</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Task_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckEmailSubjectType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_with_Email_Flags</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_by_ID</name>
        <label>Get Account by ID</label>
        <locationX>578</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_ID</name>
        <label>Get Contact ID</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Records</name>
        <label>Get Task Records</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_with_Email_Flags</name>
        <label>Update Contact with Email Flags</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Get_Account_by_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outbound_Email__c</field>
            <value>
                <elementReference>HasOutbound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Replied_Email__c</field>
            <value>
                <elementReference>HasReplied</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_From_Outbound_stage_0</name>
        <label>Update From Outbound stage 0</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <inputReference>Get_Account_by_ID</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_From_Outbound_Stage_1</name>
        <label>Update_From_Outbound_Stage_1</label>
        <locationX>842</locationX>
        <locationY>1463</locationY>
        <inputReference>Get_Account_by_ID</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_From_Replied_stage_0</name>
        <label>Update From Replied stage 0</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputReference>Get_Account_by_ID</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_From_Replied_stage_1</name>
        <label>Update From Replied stage 1</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <inputReference>Get_Account_by_ID</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>003</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountStatusToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasOutbound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasReplied</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RecordAccountIDFromTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
