salesforce/temp_all_flows2/flows/Update_Engagement_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assignment_2</name>
        <label>Count Upcoming Meetings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpcomingMeetingsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Upcoming_Events</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Key_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Key_Countacts</name>
        <label>Count Key Countacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KeyContactsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Key_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Recent_Meetings</name>
        <label>Count Recent Meetings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecentMeetingsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Date_Check</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Upcoming_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_Opps_Count</name>
        <label>Open Opps Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpenOppsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Engagement_Summary</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>EngagementSummary1</name>
        <dataType>String</dataType>
        <expression>&quot;═══════════════════════════════════&quot; &amp; BR() &amp;
&quot;Recent Meetings: &quot; &amp; TEXT({!RecentMeetingsCount}) &amp; BR() &amp;
&quot;Upcoming Meetings: &quot; &amp; TEXT({!UpcomingMeetingsCount}) &amp; BR() &amp;
&quot;Key Contacts: &quot; &amp; TEXT({!KeyContactsCount}) &amp; BR() &amp;
&quot;Open Opportunities: &quot; &amp; TEXT({!OpenOppsCount}) &amp; BR() &amp;
&quot;═══════════════════════════════════&quot;</expression>
    </formulas>
    <formulas>
        <name>Last30d</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-30</expression>
    </formulas>
    <formulas>
        <name>Last30DaysDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), MONTH({!$Flow.CurrentDate}), DAY({!$Flow.CurrentDate}) - 30)</expression>
    </formulas>
    <formulas>
        <name>Last60d</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 60</expression>
    </formulas>
    <interviewLabel>Update Engagement Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Engagement Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Date_Check</name>
        <label>Get Recent Events</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Recent_Meetings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Last30d</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Key_Contacts</name>
        <label>Get Key Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Key_Countacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Last60d</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Opportunities</name>
        <label>Get Open Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Opps_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>StageName</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Upcoming_Events</name>
        <label>Get Upcoming Events</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Engagement_Summary</name>
        <label>Engagement Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Engagement_Summary__c</field>
            <value>
                <elementReference>EngagementSummary1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Date_Check</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EngagementSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KeyContactsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpenOppsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecentMeetingsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpcomingMeetingsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
