salesforce/force-app/main/default/flows/Account_Health_History_On_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>On Account UPDATE (After Save): When Account Health or Account Health Overview changes, captures the PRIOR values in Account Health History. Calls AccountHealthArchiveService to truncate the on-page field to 4 entries and archive full history as a file on the Account. Uses $Record__Prior which requires After Save context.</description>
    <environments>Default</environments>

    <!-- Date formatter -->
    <formulas>
        <name>TodayFormatted</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())) &amp; "-" &amp;
IF(MONTH(TODAY()) &lt; 10, "0", "") &amp; TEXT(MONTH(TODAY())) &amp; "-" &amp;
IF(DAY(TODAY()) &lt; 10, "0", "") &amp; TEXT(DAY(TODAY()))</expression>
    </formulas>

    <!-- Check if Account Health changed -->
    <formulas>
        <name>HealthChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Health__c})</expression>
    </formulas>

    <!-- Check if Account Health Overview changed -->
    <formulas>
        <name>OverviewChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Account_Health_Overview__c})</expression>
    </formulas>

    <!-- Build the full history with new entry prepended -->
    <textTemplates>
        <name>FullHistoryText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!TodayFormatted}
Health: {!$Record__Prior.Health__c}
Overview: {!$Record__Prior.Account_Health_Overview__c}

---

{!ExistingHistory}</text>
    </textTemplates>

    <!-- Variable to hold existing history -->
    <variables>
        <name>ExistingHistory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <interviewLabel>Account Health History On Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Health History On Update</label>
    <processType>AutoLaunchedFlow</processType>

    <!-- Decision: Check if either field changed -->
    <decisions>
        <name>Check_If_Fields_Changed</name>
        <label>Check If Fields Changed</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No Changes</defaultConnectorLabel>
        <rules>
            <name>Health_Or_Overview_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>HealthChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OverviewChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Existing_History</targetReference>
            </connector>
            <label>Health Or Overview Changed</label>
        </rules>
    </decisions>

    <!-- Capture existing history into variable -->
    <assignments>
        <name>Capture_Existing_History</name>
        <label>Capture Existing History</label>
        <locationX>176</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>ExistingHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Health_History__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Archive_And_Truncate</targetReference>
        </connector>
    </assignments>

    <!-- Call Apex invocable to truncate on-page field and archive full history -->
    <actionCalls>
        <name>Archive_And_Truncate</name>
        <label>Archive and Truncate History</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <actionName>AccountHealthArchiveService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullHistory</name>
            <value>
                <elementReference>FullHistoryText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>

    <!-- After Save trigger — required for $Record__Prior access -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Fields_Changed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>

    <status>Active</status>
</Flow>
