salesforce/force-app/main/default/flows/Auto_Populate_Contact_First_Outreach.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_If_First_Outreach_Needed</name>
        <label>Check If First Outreach Needed</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No Update Needed</defaultConnectorLabel>
        <rules>
            <name>Apollo_Outreach_Detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Outreach_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apollo_Last_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Apollo_First_Outreach</targetReference>
            </connector>
            <label>Apollo Outreach Detected</label>
        </rules>
        <rules>
            <name>LinkedIn_Outreach_Detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Outreach_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.T_F_Meessage_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LinkedIn_First_Outreach</targetReference>
            </connector>
            <label>LinkedIn Outreach Detected</label>
        </rules>
        <rules>
            <name>Apollo_Sequence_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apollo_Sequence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Outreach_Source_Apollo</targetReference>
            </connector>
            <label>Apollo Sequence Added</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Populate Contact First Outreach {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Populate Contact First Outreach</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Apollo_First_Outreach</name>
        <label>Set Apollo First Outreach</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>First_Outreach_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Outreach_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outreach_Source__c</field>
            <value>
                <stringValue>Apollo</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_LinkedIn_First_Outreach</name>
        <label>Set LinkedIn First Outreach</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>First_Outreach_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Outreach_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outreach_Source__c</field>
            <value>
                <stringValue>Sales Navigator</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Outreach_Source_Apollo</name>
        <label>Set Outreach Source Apollo</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Outreach_Source__c</field>
            <value>
                <stringValue>Apollo</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_First_Outreach_Needed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Apollo_Last_Sent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>T_F_Meessage_Sent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apollo_Sequence__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
