salesforce/force-app/main/default/flows/Campaign_Influence_Primary_Contact_on_Opp_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Does_Influence_Exist</name>
        <label>Does Influence Exist?</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Opp_Influence_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — Create It</defaultConnectorLabel>
        <rules>
            <name>Yes_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Influence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CampaignMembers</targetReference>
            </connector>
            <label>Yes — Skip</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NinetyDaysAGO</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 90</expression>
    </formulas>
    <interviewLabel>Campaign Influence Primary Contact on Opp Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Influence Primary Contact on Opp Creation</label>
    <loops>
        <name>CampaignMembers</name>
        <label>CampaignMembers</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Campaignmember</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Existing_Influence</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Influence_Record</name>
        <label>Create Opp Influence Record</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Set_Primary_Influencing_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CampaignMembers</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CampaignMembers.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CampaignMembers.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Influence</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ModelId</field>
            <value>
                <stringValue>03VHp000000LAUWMA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignInfluence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Set_Primary_Influencing_Event</name>
        <label>Set Primary Influencing Event</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CampaignMembers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CampaignMembers</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Influencing_Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Influencing_Event__c</field>
            <value>
                <elementReference>CampaignMembers.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordLookups>
        <name>Check_Existing_Influence</name>
        <label>Check Existing Influence</label>
        <locationX>264</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Influence_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignMembers.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignMembers.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignInfluence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Campaignmember</name>
        <label>CampaignMembers</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CampaignMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Primary_Contact_Role.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>NinetyDaysAGO</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact_Role</name>
        <label>Get Primary Contact Role</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaignmember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Contact_Role</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
