salesforce/force-app/main/default/flows/Council_Code_Name_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Syncs the Code Name from Account to Opportunity when the opportunity is marked as a Council engagement. Triggers when Eudia_Council_Op__c changes to TRUE.</description>
    <interviewLabel>Council Code Name Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Council Code Name Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Council_Flag</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Eudia_Council_Op__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <decisions>
        <name>Check_Council_Flag</name>
        <label>Check Council Flag</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Not Council</defaultConnectorLabel>
        <rules>
            <name>Is_Council_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eudia_Council_Op__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Code_Name</targetReference>
            </connector>
            <label>Is Council Opportunity</label>
        </rules>
    </decisions>
    <recordLookups>
        <name>Get_Account_Code_Name</name>
        <label>Get Account Code Name</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_Code_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <assignments>
        <name>Update_Opp_Code_Name</name>
        <label>Update Opp Code Name</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Record.Code_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Code_Name.Code_Name__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
</Flow>

