salesforce/force-app/main/default/flows/CS_Staffing_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>When an Opportunity reaches Stage 4 or 5, determines handover type (CS for AI-enabled, PM for non-AI, Both for mixed deals). Sets appropriate flags, creates a handover task for the BL, and fires a Platform Event for Slack notification. At Stage 4→5 transition for AI deals, fires a follow-up alert. Uses Handover_Type__c formula field for deal classification.</description>
    <environments>Default</environments>
    <interviewLabel>CS Staffing Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS Staffing Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>

    <!-- ═══════════════════════════════════════════════════════════════ -->
    <!-- DECISION 1: Is Stage 4 or 5?                                  -->
    <!-- ═══════════════════════════════════════════════════════════════ -->
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Other Stage</defaultConnectorLabel>
        <rules>
            <name>Is_Stage_4_or_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 4 - Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 5 - Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_First_Time</targetReference>
            </connector>
            <label>Stage 4 or 5</label>
        </rules>
    </decisions>

    <!-- ═══════════════════════════════════════════════════════════════ -->
    <!-- DECISION 2: First time (CS_Staffing__c still false)?          -->
    <!-- ═══════════════════════════════════════════════════════════════ -->
    <decisions>
        <name>Check_First_Time</name>
        <label>First Time or Follow-up?</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Check_Stage5_Followup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Processed</defaultConnectorLabel>
        <rules>
            <name>Not_Yet_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Staffing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Handover_Type</targetReference>
            </connector>
            <label>First Time</label>
        </rules>
    </decisions>

    <!-- ═══════════════════════════════════════════════════════════════ -->
    <!-- DECISION 3: Stage 5 follow-up for AI deals?                   -->
    <!-- Only fires if CS_Staffing__c is already true (set at Stage 4) -->
    <!-- and the deal has AI components (CS or Both handover type).     -->
    <!-- ═══════════════════════════════════════════════════════════════ -->
    <decisions>
        <name>Check_Stage5_Followup</name>
        <label>Stage 5 Follow-up?</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No Follow-up Needed</defaultConnectorLabel>
        <rules>
            <name>Is_Stage5_AI_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 5 - Negotiation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Handover_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Followup_Alert</targetReference>
            </connector>
            <label>Stage 5 AI Deal</label>
        </rules>
    </decisions>

    <!-- ═══════════════════════════════════════════════════════════════ -->
    <!-- DECISION 4: Determine handover type from formula field        -->
    <!-- CS = AI-enabled, PM = non-AI, Both = mixed                    -->
    <!-- ═══════════════════════════════════════════════════════════════ -->
    <decisions>
        <name>Determine_Handover_Type</name>
        <label>Determine Handover Type</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Both_Flags</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Both (Mixed Deal)</defaultConnectorLabel>
        <rules>
            <name>Type_CS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Handover_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CS_Flags</targetReference>
            </connector>
            <label>CS (AI-Enabled)</label>
        </rules>
        <rules>
            <name>Type_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Handover_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PM_Flags</targetReference>
            </connector>
            <label>PM (Non-AI)</label>
        </rules>
    </decisions>

    <!-- ═══════════════════════════════════════════════════════════════ -->
    <!-- RECORD UPDATES: Set appropriate flags per handover type       -->
    <!-- ═══════════════════════════════════════════════════════════════ -->

    <!-- CS Path: AI-enabled deals -->
    <recordUpdates>
        <name>Update_CS_Flags</name>
        <label>Set CS Staffing Flags</label>
        <locationX>56</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Create_CS_Handover_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_Staffing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Staffing_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>

    <!-- PM Path: Non-AI deals -->
    <recordUpdates>
        <name>Update_PM_Flags</name>
        <label>Set PM Handover Flags</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Create_PM_Handover_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_Staffing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PM_Handover_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>

    <!-- Both Path: Mixed deals (AI + managed services) -->
    <recordUpdates>
        <name>Update_Both_Flags</name>
        <label>Set CS + PM Flags</label>
        <locationX>296</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Create_Both_Handover_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_Staffing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Staffing_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PM_Handover_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>

    <!-- ═══════════════════════════════════════════════════════════════ -->
    <!-- TASK CREATION: Per handover type                               -->
    <!-- ═══════════════════════════════════════════════════════════════ -->

    <recordCreates>
        <name>Create_CS_Handover_Task</name>
        <label>Create CS Handover Task</label>
        <locationX>56</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Publish_CS_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete CS Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This AI-enabled deal requires CS staffing. Open the Opportunity record and click "Complete Handover" to provide CS team with handover details (stakeholders, products, terms, customer goals). A CSM will be assigned after submission.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordCreates>
        <name>Create_PM_Handover_Task</name>
        <label>Create PM Handover Task</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Publish_PM_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete PM Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This managed services deal requires PM handover. Open the Opportunity record and click "Complete Handover" to provide delivery team with handover details (stakeholders, products, terms, staffing needs).</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordCreates>
        <name>Create_Both_Handover_Task</name>
        <label>Create CS + PM Handover Task</label>
        <locationX>296</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Publish_Both_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete CS + PM Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This mixed deal (AI + managed services) requires both CS staffing and PM handover. Open the Opportunity record and click "Complete Handover" to provide both teams with handover details.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- ═══════════════════════════════════════════════════════════════ -->
    <!-- PLATFORM EVENT PUBLISH: Per handover type                     -->
    <!-- ═══════════════════════════════════════════════════════════════ -->

    <recordCreates>
        <name>Publish_CS_Alert</name>
        <label>Publish CS Alert</label>
        <locationX>56</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Name__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>$Record.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Id__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>$Record.Product_Lines_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Sign_Date__c</field>
            <value>
                <elementReference>$Record.Target_LOI_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Handover_Type__c</field>
            <value>
                <stringValue>CS</stringValue>
            </value>
        </inputAssignments>
        <object>CS_Staffing_Alert__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordCreates>
        <name>Publish_PM_Alert</name>
        <label>Publish PM Alert</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Name__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>$Record.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Id__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>$Record.Product_Lines_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Sign_Date__c</field>
            <value>
                <elementReference>$Record.Target_LOI_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Handover_Type__c</field>
            <value>
                <stringValue>PM</stringValue>
            </value>
        </inputAssignments>
        <object>CS_Staffing_Alert__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordCreates>
        <name>Publish_Both_Alert</name>
        <label>Publish Both Alert</label>
        <locationX>296</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Name__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>$Record.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Id__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>$Record.Product_Lines_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Sign_Date__c</field>
            <value>
                <elementReference>$Record.Target_LOI_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Handover_Type__c</field>
            <value>
                <stringValue>Both</stringValue>
            </value>
        </inputAssignments>
        <object>CS_Staffing_Alert__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- Stage 5 Follow-up alert for AI deals -->
    <recordCreates>
        <name>Publish_Followup_Alert</name>
        <label>Publish Stage 5 Follow-up</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Name__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>$Record.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Id__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>$Record.Product_Lines_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Sign_Date__c</field>
            <value>
                <elementReference>$Record.Target_LOI_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Handover_Type__c</field>
            <value>
                <stringValue>Stage 5 Follow-up</stringValue>
            </value>
        </inputAssignments>
        <object>CS_Staffing_Alert__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- ═══════════════════════════════════════════════════════════════ -->
    <!-- START: Trigger on Opportunity Update when Stage changes        -->
    <!-- Removed CS_Staffing__c = false entry guard to allow           -->
    <!-- Stage 5 follow-up alerts for already-processed deals.         -->
    <!-- ═══════════════════════════════════════════════════════════════ -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
