salesforce/force-app/main/default/flows/CS_Staffing_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>When an Opportunity reaches Stage 4 (Proposal) or Stage 5 (Negotiation), sets CS_Staffing__c checkbox to true and fires a Platform Event to trigger Slack notification. Only fires once per Opportunity (checks if CS_Staffing__c is already true).</description>
    <environments>Default</environments>
    <interviewLabel>CS Staffing Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS Staffing Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    
    <!-- Decision: Check which stage we're entering -->
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Other Stage</defaultConnectorLabel>
        <rules>
            <name>Is_Stage_4_or_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 4 - Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 5 - Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CS_Staffing_Flag</targetReference>
            </connector>
            <label>Stage 4 or 5</label>
        </rules>
    </decisions>
    
    <!-- Update CS_Staffing__c to true -->
    <recordUpdates>
        <name>Update_CS_Staffing_Flag</name>
        <label>Update CS Staffing Flag</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Publish_CS_Staffing_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_Staffing_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    
    <!-- Publish Platform Event -->
    <recordCreates>
        <name>Publish_CS_Staffing_Alert</name>
        <label>Publish CS Staffing Alert</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Name__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>$Record.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Id__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>$Record.Product_Lines_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Sign_Date__c</field>
            <value>
                <elementReference>$Record.Target_LOI_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Staffing_Alert__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    
    <!-- Start: Trigger when Opportunity Stage changes AND CS_Staffing__c is NOT already true -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CS_Staffing_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>

