salesforce/force-app/main/default/flows/Lead_Auto_Progress_To_Working.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>When a Task is created on a Lead with Status New Lead, auto-update to Working. Covers Apollo, Sales Nav, Einstein emails, and manual logging.</description>
    <interviewLabel>Lead Auto Progress To Working {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Auto Progress To Working</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Task_On_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>

    <recordLookups>
        <name>Check_If_Task_On_Lead</name>
        <label>Find Lead with New Status</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Has_New_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <decisions>
        <name>Has_New_Lead</name>
        <label>Lead Found with New Status</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Lead_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_Task_On_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_To_Working</targetReference>
            </connector>
            <label>Lead Found</label>
        </rules>
    </decisions>

    <recordUpdates>
        <name>Update_Lead_To_Working</name>
        <label>Update Lead to Working</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
</Flow>
