salesforce/force-app/main/default/flows/Lead_Auto_Nurture_Stale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Runs daily. Moves Working leads to Nurturing if no activity has been logged in 30+ days. Prevents stale leads from inflating active outreach counts.</description>
    <interviewLabel>Lead Auto Nurture Stale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Auto Nurture Stale</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stale_Working_Leads</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-02-18</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>

    <recordLookups>
        <name>Get_Stale_Working_Leads</name>
        <label>Get Stale Working Leads</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Check_If_Leads_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastActivityDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>ThirtyDaysAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <formulas>
        <name>ThirtyDaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 30</expression>
    </formulas>

    <decisions>
        <name>Check_If_Leads_Found</name>
        <label>Check If Leads Found</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No Stale Leads</defaultConnectorLabel>
        <rules>
            <name>Has_Stale_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stale_Working_Leads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Nurturing</targetReference>
            </connector>
            <label>Has Stale Leads</label>
        </rules>
    </decisions>

    <recordUpdates>
        <name>Update_To_Nurturing</name>
        <label>Update to Nurturing</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastActivityDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>ThirtyDaysAgo</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nurturing</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
</Flow>
