salesforce/force-app/main/default/flows/Opp_Update_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_AI_And_BL_Only</name>
        <label>Set AI and BL Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Eudia_Tech__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HasAIProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BL_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_All_Defaults</name>
        <label>Set Name AI BL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AutoName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Eudia_Tech__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HasAIProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BL_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BL_Pipeline</name>
        <label>Set BL Pipeline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.BL_Forecast_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pod_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pod</name>
        <label>Set Pod</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeterminedPod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SalesType_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SalesType_NewBusiness</name>
        <label>Set Sales Type New Business</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Any_Relevant_Change</name>
        <label>Any Relevant Change?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Nothing Relevant</defaultConnectorLabel>
        <rules>
            <name>Has_Relevant_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Lines_Multi__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BL_Forecast_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Has Relevant Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>BL_Check</name>
        <label>BL Forecast Null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pod_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BL Already Set</defaultConnectorLabel>
        <rules>
            <name>BL_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BL_Forecast_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BL_Pipeline</targetReference>
            </connector>
            <label>BL Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pod_Check</name>
        <label>Pod Needs Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SalesType_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pod OK</defaultConnectorLabel>
        <rules>
            <name>Owner_Changed_Pod_Untouched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pod__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeterminedPod</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pod</targetReference>
            </connector>
            <label>Owner Changed Pod Untouched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Rename</name>
        <label>Should Rename?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_AI_And_BL_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Name</defaultConnectorLabel>
        <rules>
            <name>PL_Changed_Name_Untouched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Lines_Multi__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_All_Defaults</targetReference>
            </connector>
            <label>PL Changed and Name Untouched</label>
        </rules>
        <rules>
            <name>Stage_Changed_No_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRealProducts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_All_Defaults</targetReference>
            </connector>
            <label>Stage Changed No Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalesType_Check</name>
        <label>Sales Type Needs Setting?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Sales Type OK</defaultConnectorLabel>
        <rules>
            <name>New_Account_No_SalesType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SalesType_NewBusiness</targetReference>
            </connector>
            <label>New Account No Sales Type</label>
        </rules>
    </decisions>
    <description>v4: Syncs Opp Name (abbreviated product line), AI Enabled, BL Forecast, Pod, and Sales Type on updates. Fires on all updates; uses Decision node for multi-select IsChanged (not supported in entry conditions). Only renames when product lines change and user did not manually edit the Name. Sales Type auto-sets to New Business for non-Existing accounts.</description>
    <environments>Default</environments>
    <formulas>
        <name>AutoName</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Account.Name})),
{!Get_Account.Name} &amp; &quot; - &quot; &amp; IF(ISBLANK({!ProductSuffix}), {!StageLabel}, {!ProductSuffix}),
&quot;Untitled - &quot; &amp; IF(ISBLANK({!ProductSuffix}), {!StageLabel}, {!ProductSuffix})
)</expression>
    </formulas>
    <formulas>
        <name>DeterminedPod</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Owner.Name},
&quot;Ananth Cherukupally&quot;, &quot;US&quot;,
&quot;Asad Hussain&quot;, &quot;US&quot;,
&quot;Julie Stefanich&quot;, &quot;US&quot;,
&quot;Justin Hills&quot;, &quot;US&quot;,
&quot;Mike Masiello&quot;, &quot;US&quot;,
&quot;Olivia Jung&quot;, &quot;US&quot;,
&quot;Keigan Pesenti&quot;, &quot;US&quot;,
&quot;Riley Stack&quot;, &quot;US&quot;,
&quot;Sean Boyd&quot;, &quot;US&quot;,
&quot;Alex Fox&quot;, &quot;EU&quot;,
&quot;Conor Molloy&quot;, &quot;EU&quot;,
&quot;Emer Flynn&quot;, &quot;EU&quot;,
&quot;Nathan Shine&quot;, &quot;EU&quot;,
&quot;Nicola Fratini&quot;, &quot;EU&quot;,
&quot;Tom Clancy&quot;, &quot;EU&quot;,
&quot;Greg MacHale&quot;, &quot;EU&quot;,
&quot;Riona McHale&quot;, &quot;EU&quot;,
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>HasAIProduct</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK($Record.Product_Lines_Multi__c)),
OR(
INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Contracting - Technology&quot;),
INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Contracting - Managed Services&quot;),
INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Compliance - Technology&quot;),
INCLUDES($Record.Product_Lines_Multi__c, &quot;AI M&amp;A - Managed Services&quot;),
INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Platform - Sigma&quot;),
INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Platform - Insights&quot;),
INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Platform - Litigation&quot;),
INCLUDES($Record.Product_Lines_Multi__c, &quot;FDE - Custom AI Solution&quot;),
INCLUDES($Record.Product_Lines_Multi__c, &quot;Multiple (BL Review)&quot;)
),
OR(
CONTAINS(TEXT($Record.Product_Line__c), &quot;AI&quot;),
CONTAINS(TEXT($Record.Product_Line__c), &quot;FDE&quot;),
TEXT($Record.Product_Line__c) = &quot;Multiple (BL Review)&quot;
)
)</expression>
    </formulas>
    <formulas>
        <name>HasRealProducts</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!ProductSuffix}))</expression>
    </formulas>
    <formulas>
        <name>MultiProductRaw</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Contracting - Technology&quot;), &quot;Contracting Tech|&quot;, &quot;&quot;) &amp;
IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Contracting - Managed Services&quot;), &quot;Contracting MS|&quot;, &quot;&quot;) &amp;
IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Compliance - Technology&quot;), &quot;Compliance|&quot;, &quot;&quot;) &amp;
IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;AI M&amp;A - Managed Services&quot;), &quot;M&amp;A|&quot;, &quot;&quot;) &amp;
IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Platform - Sigma&quot;), &quot;Sigma|&quot;, &quot;&quot;) &amp;
IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Platform - Insights&quot;), &quot;Insights|&quot;, &quot;&quot;) &amp;
IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;AI Platform - Litigation&quot;), &quot;Litigation|&quot;, &quot;&quot;) &amp;
IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;FDE - Custom AI Solution&quot;), &quot;FDE|&quot;, &quot;&quot;) &amp;
IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;Contracting - Secondee&quot;), &quot;Secondee|&quot;, &quot;&quot;) &amp;
IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;Other - Managed Service&quot;), &quot;Other MS|&quot;, &quot;&quot;) &amp;
IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;Other - Secondee&quot;), &quot;Other Sec|&quot;, &quot;&quot;) &amp;
IF(INCLUDES($Record.Product_Lines_Multi__c, &quot;Multiple (BL Review)&quot;), &quot;Multiple|&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ProductSuffix</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK($Record.Product_Lines_Multi__c)) &amp;&amp; LEN({!MultiProductRaw}) &gt; 0,
SUBSTITUTE(LEFT({!MultiProductRaw}, LEN({!MultiProductRaw}) - 1), &quot;|&quot;, &quot; / &quot;),
IF(NOT(ISBLANK(TEXT($Record.Product_Line__c))) &amp;&amp; TEXT($Record.Product_Line__c) != &quot;Undetermined&quot;,
CASE(TEXT($Record.Product_Line__c),
&quot;AI Contracting - Technology&quot;, &quot;Contracting Tech&quot;,
&quot;AI Contracting - Managed Services&quot;, &quot;Contracting MS&quot;,
&quot;AI Compliance - Technology&quot;, &quot;Compliance&quot;,
&quot;AI M&amp;A - Managed Services&quot;, &quot;M&amp;A&quot;,
&quot;AI Platform - Sigma&quot;, &quot;Sigma&quot;,
&quot;AI Platform - Insights&quot;, &quot;Insights&quot;,
&quot;AI Platform - Litigation&quot;, &quot;Litigation&quot;,
&quot;FDE - Custom AI Solution&quot;, &quot;FDE&quot;,
&quot;Contracting - Secondee&quot;, &quot;Secondee&quot;,
&quot;Other - Managed Service&quot;, &quot;Other MS&quot;,
&quot;Other - Secondee&quot;, &quot;Other Sec&quot;,
&quot;Multiple (BL Review)&quot;, &quot;Multiple&quot;,
TEXT($Record.Product_Line__c)),
&quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>StageLabel</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT($Record.StageName),
&quot;Stage 0 - Qualifying&quot;,&quot;Qualifying&quot;,
&quot;Stage 1 - Discovery&quot;,&quot;Discovery&quot;,
&quot;Stage 2 - SQO&quot;,&quot;SQO&quot;,
TEXT($Record.StageName)
)</expression>
    </formulas>
    <interviewLabel>Opp Update Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Update Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Rename</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Any_Relevant_Change</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
