salesforce/force-app/main/default/flows/Quick_Create_Opp_v3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Account_From_Lookup</name>
        <label>Assign Account From Lookup</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>SelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Stage_0_Qualifying</name>
        <choiceText>Stage 0 - Qualifying</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 0 - Qualifying</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_1_Discovery</name>
        <choiceText>Stage 1 - Discovery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 1 - Discovery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_2_SQO</name>
        <choiceText>Stage 2 - SQO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 2 - SQO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_3_Pilot</name>
        <choiceText>Stage 3 - Pilot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 3 - Pilot</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_4_Proposal</name>
        <choiceText>Stage 4 - Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage 4 - Proposal</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Has_Account</name>
        <label>Has Account?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Screen_Search_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need Search</defaultConnectorLabel>
        <rules>
            <name>Has_Account_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_From_RecordId</targetReference>
            </connector>
            <label>Has Account ID</label>
        </rules>
    </decisions>
    <description>v3: Adds Account search when not launched from Account page. Works from Account page (pre-filled) OR Opportunities tab (search). All downstream flows work automatically.</description>
    <dynamicChoiceSets>
        <name>AccountSearchChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccountSearchInput</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductLineChoices</name>
        <dataType>Picklist</dataType>
        <displayField>Product_Line__c</displayField>
        <picklistField>Product_Line__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedCloseDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!TargetSignDate}), TODAY() + 180, {!TargetSignDate})</expression>
    </formulas>
    <formulas>
        <name>GeneratedOppName</name>
        <dataType>String</dataType>
        <expression>{!SelectedAccountName} &amp; " - " &amp; IF(ISBLANK({!ProductLine}) || {!ProductLine} = "Undetermined", {!OpportunityStage}, {!ProductLine})</expression>
    </formulas>
    <interviewLabel>Quick Create Opp v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Create Opp v3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>ACVAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>ACVAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CalculatedCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GeneratedOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source__c</field>
            <value>
                <stringValue>Eudia Exec-Intro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>ProductLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Hp000001HYyxIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>OpportunityStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Sign_for_Edit_NEW__c</field>
            <value>
                <elementReference>CalculatedCloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_From_RecordId</name>
        <label>Get Account From Record ID</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_From_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Screen_Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;span style="font-size: 20px; font-weight: bold; color: #032D60;"&gt;Create Opportunity&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-size: 14px; color: #2E844A; font-weight: 600;"&gt;Account: {!SelectedAccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunityStage</name>
            <choiceReferences>Stage_0_Qualifying</choiceReferences>
            <choiceReferences>Stage_1_Discovery</choiceReferences>
            <choiceReferences>Stage_2_SQO</choiceReferences>
            <choiceReferences>Stage_3_Pilot</choiceReferences>
            <choiceReferences>Stage_4_Proposal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TargetSignDate</name>
            <dataType>Date</dataType>
            <fieldText>Target Sign Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ACVAmount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>100000.0</numberValue>
            </defaultValue>
            <fieldText>ACV</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ProductLine</name>
            <choiceReferences>ProductLineChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Line</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Error</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorHeader</name>
            <fieldText>&lt;p&gt;&lt;span style="font-size: 18px; font-weight: bold; color: #BA0517;"&gt;Error Creating Opportunity&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Search_Account</name>
        <label>Search Account</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Select_Account</targetReference>
        </connector>
        <fields>
            <name>SearchHeader</name>
            <fieldText>&lt;p&gt;&lt;span style="font-size: 20px; font-weight: bold; color: #032D60;"&gt;Create New Opportunity&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-size: 13px; color: #706E6B;"&gt;Enter at least 3 characters of the account name to search.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountSearchInput</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Account</name>
        <label>Select Account</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Search Again</backButtonLabel>
        <connector>
            <targetReference>Screen_Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>SelectHeader</name>
            <fieldText>&lt;p&gt;&lt;span style="font-size: 18px; font-weight: bold; color: #032D60;"&gt;Select Account&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-size: 13px; color: #706E6B;"&gt;Choose the account:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountDropdown</name>
            <choiceReferences>AccountSearchChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Success</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessHeader</name>
            <fieldText>&lt;p&gt;&lt;span style="font-size: 20px; font-weight: bold; color: #2E844A;"&gt;Opportunity Created&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account:&lt;/strong&gt; {!SelectedAccountName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage:&lt;/strong&gt; {!OpportunityStage}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ACV:&lt;/strong&gt; {!ACVAmount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-size: 12px; color: #706E6B;"&gt;Products and Pod assigned automatically.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Has_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
