salesforce/force-app/main/default/flows/Set_LinkedIn_InMail_From_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_WhoId_Type</name>
        <label>Check WhoId Type</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No Update Needed</defaultConnectorLabel>
        <rules>
            <name>Is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoIdPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_LinkedIn_Field</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoIdPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_LinkedIn_Field</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>WhoIdPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.WhoId}, 3)</expression>
    </formulas>
    <interviewLabel>Set LinkedIn InMail From Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set LinkedIn InMail From Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_LinkedIn_Field</name>
        <label>Update Lead LinkedIn Field</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LinkedIn_InMail_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_LinkedIn_Field</name>
        <label>Update Contact LinkedIn Field</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LinkedIn_InMail_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_WhoId_Type</targetReference>
        </connector>
        <filterFormula>AND(
    NOT(ISBLANK({!$Record.WhoId})),
    OR(
        CONTAINS(LOWER({!$Record.Subject}), 'inmail'),
        CONTAINS(LOWER({!$Record.Subject}), 'linkedin'),
        CONTAINS(LOWER({!$Record.Subject}), 'sales navigator'),
        CONTAINS(LOWER({!$Record.Subject}), 'connection request')
    )
)</filterFormula>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
