salesforce/force-app/main/default/flows/Sync_Products_to_ACV_On_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Handles ACV recalculation when Opportunity Line Items are deleted. Only updates ACV if it was originally set from Products (matches Amount before deletion). EXCLUDES closed opportunities.</description>
    <interviewLabel>Sync Products to ACV On Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Products to ACV On Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    
    <!-- Store the Opportunity ID before record is deleted -->
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.OpportunityId</elementReference>
        </value>
    </variables>
    
    <!-- Get the parent Opportunity with current Amount (before line item deletion is committed) -->
    <recordLookups>
        <name>Get_Parent_Opportunity</name>
        <label>Get Parent Opportunity</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Open_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    
    <!-- Calculate new Amount after this deletion -->
    <formulas>
        <name>NewAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Parent_Opportunity.Amount} - {!$Record.TotalPrice}</expression>
        <scale>2</scale>
    </formulas>
    
    <!-- SAFEGUARD: Check if Opportunity is OPEN (not Closed) -->
    <decisions>
        <name>Check_If_Open_Opportunity</name>
        <label>Check If Open Opportunity</label>
        <locationX>176</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>Opportunity Is Closed - Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Opportunity.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_ACV_Matches_Products</targetReference>
            </connector>
            <label>Opportunity Is Open</label>
        </rules>
    </decisions>
    
    <!-- Decision: Only update if current ACV equals current Amount (meaning it was set from Products) -->
    <decisions>
        <name>Check_If_ACV_Matches_Products</name>
        <label>Check If ACV Matches Products</label>
        <locationX>176</locationX>
        <locationY>430</locationY>
        <defaultConnectorLabel>ACV Was Manually Set - Do Nothing</defaultConnectorLabel>
        <rules>
            <name>ACV_Equals_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Opportunity.ACV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Parent_Opportunity.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_ACV_After_Delete</targetReference>
            </connector>
            <label>ACV Equals Amount</label>
        </rules>
    </decisions>
    
    <!-- Update Opportunity ACV to new Amount after deletion -->
    <recordUpdates>
        <name>Update_Opportunity_ACV_After_Delete</name>
        <label>Update Opportunity ACV After Delete</label>
        <locationX>50</locationX>
        <locationY>530</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>NewAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    
    <!-- Start element - triggers before delete to capture record data -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Opportunity</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    
    <status>Obsolete</status>
</Flow>
