salesforce/force-app/main/default/flows/Update_Account_status_based_on_Opportunity_Stages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Connected</name>
        <label>2. Connected</label>
        <locationX>930</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LowestPriorityFoundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAccountStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Connected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discovery_Pipeline</name>
        <label>Discovery__Pipeline</label>
        <locationX>402</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LowestPriorityFoundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAccountStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4. Engaged Pipeline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Priority_Tracker</name>
        <label>Initialize Priority Tracker</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>LowestPriorityFoundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>999.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAccountStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Priority</name>
        <label>Priority Closed Won</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LowestPriorityFoundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAccountStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5. Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Priority_Disqualified</name>
        <label>9. Disqualified</label>
        <locationX>1722</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LowestPriorityFoundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAccountStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>9. Disqualified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Priority_Lost</name>
        <label>7  Lost</label>
        <locationX>1986</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LowestPriorityFoundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAccountStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>7. Closed Lost (Needs Triage)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Priority_On_Hold</name>
        <label>8 On Hold</label>
        <locationX>1458</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LowestPriorityFoundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAccountStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>8. On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Priority_Prospecting_Last_activity</name>
        <label>Priority Prospecting - Last activity-omar linked</label>
        <locationX>1194</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LowestPriorityFoundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAccountStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Connected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PriorityQualifying</name>
        <label>3. Qualifying</label>
        <locationX>666</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LowestPriorityFoundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalAccountStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3. Qualifying</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_ID_for_update</name>
        <label>Set Account ID for update</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AccountIDToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_of_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_Priority_Tracker</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_Stage_Assign_Priority</name>
        <label>Evaluate Stage $ Assign Priority</label>
        <locationX>1194</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>0. Untouched Account</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 6. Closed(Won)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority</targetReference>
            </connector>
            <label>5. Customer</label>
        </rules>
        <rules>
            <name>Discovery_Engaged_OR_Proposal_OR_Negotiation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 3. Engaged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 4. Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 5. Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discovery_Pipeline</targetReference>
            </connector>
            <label>4.Engaged Pipeline - Stages 3,4,5</label>
        </rules>
        <rules>
            <name>Qualifying</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 1. Opportunity Qualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 2. Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PriorityQualifying</targetReference>
            </connector>
            <label>3 Qualifying (Stages 1 or 2)</label>
        </rules>
        <rules>
            <name>Connected_Omar_or_replied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 0. Qualified Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Prospecting_or_Connected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connected</targetReference>
            </connector>
            <label>2. Connected - Omar or replied</label>
        </rules>
        <rules>
            <name>Prospecting_Based_on_Last_activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Prospecting_or_Connected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_Prospecting_Last_activity</targetReference>
            </connector>
            <label>1. Prospecting Based Prospecting or Connected Field</label>
        </rules>
        <rules>
            <name>On_hold_based_on_lost_account_status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Closed_Lost_Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_On_Hold</targetReference>
            </connector>
            <label>8. On hold based on lost account status</label>
        </rules>
        <rules>
            <name>Closed_lost_account_status_Disqualified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Closed_Lost_Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_Disqualified</targetReference>
            </connector>
            <label>9. Closed lost account status Disqualified</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 7. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_Lost</targetReference>
            </connector>
            <label>7. Closed Lost - Needs Triage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Override_Account_Status_is_True</name>
        <label>Override Account Status is True ?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_of_Opportunity.Account_Status_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_ID_Store_All_Records</targetReference>
            </connector>
            <label>Check Override</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodayMinus90</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 90</expression>
    </formulas>
    <interviewLabel>Update Account status based on Opportunity Stages {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account status based on Opportunity Stages</label>
    <loops>
        <name>Loop_Through_Opps</name>
        <label>Loop Through Opps</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Account_ID_Store_All_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluate_Stage_Assign_Priority</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>$Record.AccountId</description>
        <name>Account_of_Opportunity</name>
        <label>Account of Opportunity</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Override_Account_Status_is_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_ID_Store_All_Records</name>
        <label>Get Account ID Store All Records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_ID_for_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_of_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDToUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <elementReference>FinalAccountStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_of_Opportunity</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountIDToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DebugAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>$Record.AccountId</stringValue>
        </value>
    </variables>
    <variables>
        <name>FinalAccountStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LowestPriorityFoundNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>999.0</numberValue>
        </value>
    </variables>
</Flow>
