salesforce/force-app/main/default/flows/Update_Delivery_Forecast_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Updates Delivery Forecast Status when Opportunity probability or stage changes.</description>
    <interviewLabel>Update Delivery Forecast Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Delivery Forecast Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    
    <!-- Formula to calculate status - use TEXT() to convert picklist to string -->
    <formulas>
        <name>NewForecastStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(TEXT({!$Record.StageName}) = "Won", AND(CONTAINS(TEXT({!$Record.StageName}), "Closed"), CONTAINS(TEXT({!$Record.StageName}), "Won"))),
    "Booked",
    IF(
        OR(
            AND(CONTAINS(TEXT({!$Record.StageName}), "Closed"), CONTAINS(TEXT({!$Record.StageName}), "Lost")),
            TEXT({!$Record.StageName}) = "Lost",
            TEXT({!$Record.StageName}) = "Disqualified",
            TEXT({!$Record.StageName}) = "Nurture"
        ),
        "Cancelled",
        IF(
            {!$Record.Probability} &gt;= 80,
            "Reserved",
            IF(
                {!$Record.Probability} &gt;= 50,
                "Forecasted",
                "On Hold"
            )
        )
    )
)</expression>
    </formulas>
    
    <!-- Collection variable to hold deliveries to update -->
    <variables>
        <name>DeliveriesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery__c</objectType>
    </variables>
    
    <!-- Entry Criteria: When Probability or StageName changes -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Deliveries</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Probability</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    
    <!-- Get all Deliveries related to this Opportunity -->
    <recordLookups>
        <name>Get_Related_Deliveries</name>
        <label>Get Related Deliveries</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Has_Deliveries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Delivery__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    
    <!-- Check if there are deliveries to update -->
    <decisions>
        <name>Check_Has_Deliveries</name>
        <label>Has Deliveries?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No Deliveries</defaultConnectorLabel>
        <rules>
            <name>Has_Deliveries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Deliveries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Deliveries</targetReference>
            </connector>
            <label>Has Deliveries</label>
        </rules>
    </decisions>
    
    <!-- Loop through deliveries and update -->
    <loops>
        <name>Loop_Deliveries</name>
        <label>Loop Deliveries</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Related_Deliveries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Delivery_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Deliveries</targetReference>
        </noMoreValuesConnector>
    </loops>
    
    <!-- Assignment to update each delivery -->
    <assignments>
        <name>Update_Delivery_Status</name>
        <label>Update Delivery Status</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_Deliveries.Forecast_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewForecastStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveriesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Deliveries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Deliveries</targetReference>
        </connector>
    </assignments>
    
    <!-- Update all deliveries at once -->
    <recordUpdates>
        <name>Update_All_Deliveries</name>
        <label>Update All Deliveries</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>DeliveriesToUpdate</inputReference>
    </recordUpdates>
    
    <status>Active</status>
</Flow>
