salesforce/force-app/main/default/flows/Update_Products_Breakdown.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Updates the Products_Breakdown__c field on the parent Opportunity when Line Items are added, updated, or deleted. Calls Apex for the heavy lifting.</description>
    <interviewLabel>Update Products Breakdown {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Products Breakdown</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    
    <!-- Collect Opportunity ID into a collection -->
    <variables>
        <name>varOpportunityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    
    <!-- Add the Opportunity ID to collection -->
    <assignments>
        <name>Add_Opp_Id_to_Collection</name>
        <label>Add Opp Id to Collection</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Apex_Update_Breakdown</targetReference>
        </connector>
    </assignments>
    
    <!-- Call Apex to update the breakdown -->
    <actionCalls>
        <name>Call_Apex_Update_Breakdown</name>
        <label>Call Apex Update Breakdown</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>ProductsBreakdownService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityIds</name>
            <value>
                <elementReference>varOpportunityIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    
    <!-- Start element - triggers on LineItem create/update -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Opp_Id_to_Collection</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    
    <status>Active</status>
</Flow>

